body {
    font-size: 62.5%; /* 1rem = 10px */
}

h1 {
    color: #006eff;
}

.note-form {
    display: flex;
}

.note-form button {
    background-color:#0764df;
    color: white;
    border: none;
    font-size: 1.4rem;
}

.note-form button:hover {
    background-color: #2082df;
    cursor: pointer;
}